body {
  font-family: Montserrat; }

header {
  height: 60px;
  position: absolute;
  width: 100%; }
  header .container {
    margin-top: 10px;
    width: 100%;
    position: relative; }
    header .container .center {
      display: inline-block;
      width: 280px;
      height: 51px; }
    header .container .menu {
      top: 4px;
      position: absolute;
      right: 0;
      width: 623px;
      display: inline-block; }
      header .container .menu .nav {
        display: inline-block; }
        header .container .menu .nav li {
          display: inline-block; }
          header .container .menu .nav li a {
            color: #3e334e !important; }
      header .container .menu .first {
        font-weight: bold; }

.middle {
  background-color: #83c5c9;
  height: 650px;
  width: 100%; }

h1 {
  font-size: 10px; }
