$color:  #3e334e !important;
body{
  font-family: Montserrat;
}
header{
  height: 60px;
  position: absolute;
  width: 100%;
  .container{
    margin-top: 10px;
    width: 100%;
    position: relative;
    .center {
      display: inline-block;
      width: 280px;
      height: 51px;
    }
    .menu{
      top: 4px;
      position: absolute;
      right: 0;
      width: 623px;
      display: inline-block;
      .nav{
        display: inline-block;

        li{
          display: inline-block;
          a{
            color: $color;
          }
        }
      }
      .first{
        font-weight: bold;
      }
      .second{
        li{

        }
      }
    }
  }
}
.middle{
  background-color: #83c5c9;
  height: 650px;
  width: 100%;

}


h1{
  font-size: 10px;
}

.bodyFrom{
  background-color: white;
}
